<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84502621200-auiiue4glb990mb85qanj0hnf73cqj1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84502621200-auiiue4glb990mb85qanj0hnf73cqj1n</string>
	<key>API_KEY</key>
	<string>AIzaSyCUXLdw5EFlGvlqvEl-vxL3cyH7z5GjvW4</string>
	<key>GCM_SENDER_ID</key>
	<string>84502621200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TEC.FrontProyecto</string>
	<key>PROJECT_ID</key>
	<string>bamxapp-tc2007b</string>
	<key>STORAGE_BUCKET</key>
	<string>bamxapp-tc2007b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84502621200:ios:bf7e9bd23bcff57858ee95</string>
</dict>
</plist>